<div class="">
	<div class="row">
		<div class="col-2">
			<nav class="navigation">
				<ul class="mainmenu">
					<li><a href="">Home</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Products</a>
						<ul class="submenu">
							<li><a href="">Tops</a></li>
							<li><a href="">Bottoms</a></li>
							<li><a href="">Footwear</a></li>
						</ul>
					</li>
					<li><a href="">Contact us</a></li>
					<li routerLink="/critical-deadlines"><a href="">Critical Deadlines</a></li>
					<li routerLink="/critically-definitions"><a href="">Critically Definitions</a></li>
					<li routerLink="/dependency-types"><a href="">Dependency types</a></li>
					<li routerLink="/impact-critically-rating"><a href="">Impact Critically Rating</a></li>
					<li routerLink="/impact-severity-definitions"><a href="">Impact Severity Definitions</a></li>
					<li routerLink="/impact-types"><a href="">Impact types</a></li>
					<li routerLink="/internal-ra-answer-types"><a href="">Internal RA Answer Types</a></li>
					<li routerLink="/internal-ra-questions"><a href="">Internal RA Questions</a></li>
					<li routerLink="/mao"><a href="">MAO</a></li>
					<li routerLink="/mission-critical"><a href="">Mission Critical</a></li>
					<li routerLink="/overide-impact-critically-rating"><a href="">Overide Impact Critically Rating</a></li>
					<li routerLink="/overide-mission-critical"><a href="">Overide Mission Critical</a></li>
					<li routerLink="/peak-times"><a href="">Peak Times</a></li>
					<li routerLink="/rpo"><a href="">RPO</a></li>
					<li routerLink="/services"><a href="">Service</a></li>
					<li routerLink="/sub-products"><a href="">Sub Products</a></li>
					<li routerLink="/sub-services"><a href="">Sub Services</a></li>
				</ul>
			</nav>

		</div>
		<div class="col-10">
			<router-outlet></router-outlet>

		</div>

	</div>

</div>
